body {
}
.tab{background-image:url(Images/normal_btn.jpg);background-repeat:no-repeat;height:29px;width:112px;cursor:pointer;color:#333333;font-family:Verdana;font-size:10px;text-align:center;font-weight:bold;}
.tabSelected{background-image:url(Images/active_btn.jpg);background-repeat:no-repeat;height:29px;width:112px;cursor:pointer;color:#e7e5e5;font-family:Verdana;font-weight:700;font-size:10px;text-align:center;}
.tab:hover{background-image:url(Images/normal_btn.jpg);background-repeat:no-repeat;height:29px;width:112px;cursor:pointer;color:#999999;font-family:Verdana;font-size:10px;text-align:center;font-weight:bold;}
