<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CSVPath" value="D:\eRIMS2 Applications\dev\sonic\Documents\Downloads\"/>
    <add key="ImagePath" value="D:\eRIMS2 Applications\dev\sonic\Documents\EventImage\"/>
    <add key="InvestigationImagePath" value="D:\eRIMS2 Applications\dev\sonic\Documents\Attach\"/>
    <add key ="ACI_ActionableEvent_Time" value="12:00:01"/><!--Notification send at 01 PM-->
    <add key ="Event_Start_Time_Offset" value="0"/>
    <add key="DisplayDateFormat" value="MM/dd/yyyy"/>
    <add key="SMTPMailFrom" value="mrunal.parekh@internal.mail" />
    <add key="SMTPServer" value="192.168.0.6" />
    <add key="SMTPmail" value="mrunal.parekh@internal.mail"/>
    <add key="SMTPPwd" value="tatva123"/>
    <add key="ToEmail" value="mrunal.parekh@internal.mail"/>
    <add key="Port" value="25"></add>
    <!--<add key="SMTPServer" value="127.0.0.1" />
    <add key="SMTPmail" value="dev@emersonsolutions.com"/>
    <add key="SMTPPwd" value="rims1!"/>
    <add key="SMTPMailFrom" value="dev@emersonsolutions.com"/>
    <add key="ToEmail" value="dev@emersonsolutions.com"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="ErimsConn" connectionString="Data Source=172.24.32.5;DataBase=dev.Sonic;User ID=rims;Password=rqx9z7;Connect Timeout=2000;" providerName="System.Data.SqlClient"/>-->
    <add name="ErimsConn" connectionString="Data Source=192.168.0.7\sql2008r2;DataBase=erims_Sonic_New;User ID=harshad;Password=harshad;Connect Timeout=10000;" providerName="System.Data.SqlClient"/>
    <!--<add name="ErimsConn" connectionString="Data Source=PCI120;DataBase=erims_Sonic;User ID=sa;Password=tatva123;Connect Timeout=10000;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="ErimsConn"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
