<?xml version="1.0" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CSVPath" value="C:\Users\pci76\Documents\Visual Studio 2013\Projects\ERIMS_Sonic_EmailScheduler\ERIMS_Sonic_EmailScheduler\documents\Downloads\"/>
    <add key="Event_Run_Time_Interval" value="1"/><!--Event Run Every 1 hour-->
    <add key="Event_Run_Current_Date_Diff" value="1"/><!--Ununsed-->
    <!--Event Run Every 1 hour-->
    <add key="StartDate" value=""/>
    <add key="EndDate" value=""/>
    <add key="DisplayDateFormat" value="MM/dd/yyyy"/>
    <add key="AllowMailSending" value="true"/>

    <add key="SMTPMailFrom" value="poonam.parekh@internal.mail"/>
    <add key="SMTPServer" value="192.168.0.6"/>
    <add key="SMTPmail" value="birva.shah@internal.mail"/>
    <add key="SMTPPwd" value="tatva123"/>    
    <add key="Port" value="25"></add>

    <!--<add key="SMTPMailFrom" value="erims2@icloud.com"/>
    <add key="SMTPServer" value="imap.mail.me.com"/>
    <add key="SMTPmail" value="erims2@icloud.com"/>
    <add key="SMTPPwd" value="Tatva123"/>
    <add key="Port" value="993"></add>-->

    <!--<add key="SMTPMailFrom" value="maintticket@icloud.com"/>-->
    <!--<add key="SMTPServer" value="imap.mail.me.com"/>
    <add key="SMTPmail" value="maintticket@icloud.com"/>
    <add key="SMTPPwd" value="Tatva123"/>
    <add key="Port" value="993"></add>-->


    <add key="MailCount" value="4"></add>
    <!--Stop reading mail from server-->
    <add key="SentMailSubjectFrmt" value="Ticket Number "></add>
    <!--Mail Sent Subject format-->
  </appSettings>
  <connectionStrings>
    <add name="ErimsConn" connectionString="Data Source=192.168.0.7;DataBase=erims_Sonic;User ID=harshad;Password=harshad;Connect Timeout=2000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="ErimsConn"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
